body {
    font-family: 'Arial', sans-serif;
    background: url(homeback.jpg);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.pet-details {
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.adopt-button {
    display: block;
    background-color: #b20000;
    color: #fff;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 10px;
}

.adopt-button:hover {
    background-color: #900000;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

